lazy-lock.json
.DS_Store
fzf-git.sh
*.log

configstore
varlock
caagent

pgcli/history
pgcli/log

# TPM-managed runtime plugins
tmux/plugins/tmux-yank/
tmux/plugins/tmux-thumbs/
tmux/plugins/tmux-fzf-url/
